@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the film category database</h1>
    <p>Browse through all the film categories there are!</a>.</p>
</div>
